.wrapper {
  width: 100%;
  height: 50vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 790px) {
    height: 100vh;
  }
}

.gallery {
  width: 95vw;
  height: 47.5vh;
  overflow: hidden;

  @media (min-width: 790px) {
    height: 90vh;
  }

  swiper-container {
    width: 100%;
    height: 100%;
    transform: scale(1.05);
  }

  swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .item {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .backgroundImage {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    background-size: cover;
    background-position: center;
  }

  img {
    display: none;
  }
}