.wrapper {
  width: calc(100% - 30px);
  margin: 40px auto;
  z-index: 0;
  padding: 80px 25px;
  letter-spacing: 1px;
  background-color: #eadddd;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  * {
    z-index: 0;
  }

  p {
    text-align: center;
    line-height: 30px;
    margin-bottom: 25px;
  }

  input,
  textarea {
    width: 100%;
    border: none;
    padding: 15px 25px;
    text-align: center;
    margin-bottom: 25px;

    &::placeholder {
      color: #cccccc;
    }
  }

  textarea {
    height: 400px;
    resize: none;
  }

  button {
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    transition: .3s;
    background-color: #555555;

    &:hover {
      color: #555555;
      background-color: #fff;
    }
  }

  @media (min-width: 540px) {
    padding: 80px;
  }

  @media (min-width: 790px) {
    width: 70%;
  }

  @media (min-width: 1060px) {
    width: 50%;
  }
}