@import '../../styles/main';

.wrapper {
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  z-index: 1;
  position: absolute;
  flex-wrap: wrap;

  @media (min-width: 790px) {
    width: 80vw;
  }

  @media (min-width: 1060px) {
    width: 60vw;
  }
}

.item {
  width: calc(50vw - 30px);
  margin: 15px 15px 0;
  overflow: hidden;

  &:nth-child(2n) {
    margin-top: 80px;
  }

  &.sold {
    opacity: 0.5;
  }

  p {
    text-align: center;
    margin-top: 15px;
    letter-spacing: 2px;

    &.sale {
      color: $themeColor;
    }
  }

  @media (min-width: 790px) {
    width: calc(30vw - 40px);
    margin: 20px 20px 0;
  }

  @media (min-width: 1060px) {
    width: calc(25vw - 40px);
  }
}

.image {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    display: block;
    padding-bottom: 80%;
    background-color: #d8e4d7;
  }

  img {
    object-fit: cover;
    transition: .6s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}