.wrapper {
  top: 0;
  left: 0;
  width: 60vw;
  display: flex;
  z-index: 1;
  position: absolute;
  flex-wrap: wrap;
}

.item {
  width: 25vw;
  margin: 20px 20px 0;

  &:nth-child(2n) {
    margin-top: 80px;
  }

  &.sold {
    opacity: 0.5;
  }

  p {
    margin-top: 15px;
    letter-spacing: 2px;
  }
}

.image {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    display: block;
    padding-bottom: 80%;
    background-color: #d8e4d7;
  }

  img {
    object-fit: cover;
  }
}