.overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: fixed;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  .icon {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    svg {
      opacity: 0;
    }
  }

  p {
    opacity: 0;
    font-size: 2.4rem;

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}