@import '../../../styles/main';

.wrapper {
  padding: 40px 15px;

  @media (min-width: 790px) {
    padding: 40px;
  }
}

.name {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;

  @media (min-width: 560px) {
    font-size: 4rem;
  }

  @media (min-width: 790px) {
    font-size: 5rem;
  }
}

.status {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;

  p {
    color: #fff;
    margin: 0 auto;
    padding: 0 7px;
    font-size: 1.8rem;
    line-height: 20px;
    border-radius: 10px;
    text-transform: uppercase;
  }
}

.price {
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: center;

  p {
    font-size: 2.2rem;
    font-weight: bold;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &.original {
      color: #888;
      text-decoration: line-through;
    }

    &.sale {
      color: $themeColor;
      font-weight: bold;
    }

    @media (min-width: 560px) {
      font-size: 2.6rem;
    }

    @media (min-width: 790px) {
      font-size: 3rem;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: center;

  .tag {
    color: #888;
    cursor: pointer;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.links {
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: center;

  .link {
    color: #fff;
    padding: 8px 12px;
    transition: .3s ease-in-out;
    margin-right: 15px;
    border-radius: 20px;

    &:last-child {
      margin-right: 0;
    }

    &.fm {
      background-color: #008cd6;

      &:hover {
        background-color: #00a041;
      }
    }

    &.seven {
      background-color: #ff5100;

      &:hover {
        background-color: #e5001e;
      }
    }
    
    &.shopee {
      background-color: #eb4e2d;
    }
  }
}

.note,
.description {
  width: 100%;
  margin: 0 auto;
  z-index: 0;
  padding: 80px 40px;
  margin-top: 25px;
  letter-spacing: 1px;

  p {
    text-align: center;
    font-weight: bold;
    line-height: 1.6;
  }

  @media (min-width: 790px) {
    width: 50%;
  }
}

.note {
  background-color: #f1d8d8;

  span {
    color: #ad0017;
  }
}

.description {
  white-space: pre-wrap;
  background-color: #d8e3f1;
}