.wrapper {
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  display: none;
  padding: 25px;
  position: fixed;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;

  @media (min-width: 790px) {
    display: flex;
  }
}

.filter {
  width: max-content;
  height: max-content;
  cursor: pointer;
  display: flex;
  align-items: flex-end;

  &:global {
    &.active {
      cursor: default;

      p {
        margin-bottom: 45px;
      }

      p,
      span {
        color: #41ad2e;
      }
    }
  }

  p {
    color: #000;
    margin: 0;
    bottom: 12px;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  span {
    color: #000;
    font-size: 6rem;
    transition: color 0.3s;
  }
}

.title {
  color: #000;
  font-size: 6rem;
}

.selector {
  top: 15px;
  right: 15px;
  width: 105px;
  z-index: 99;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: flex-end;

  .icon {
    width: fit-content;
  }

  select {
    right: 0;
    border: none;
    position: absolute;
    font-size: 1.8rem;
    appearance: none;
    text-align: right;
    padding-right: 35px;
    background-color: transparent;
  }

  @media (min-width: 790px) {
    display: none;
  }
}